#unauthorized-view {
    .container {
        text-align: center;
        padding-top: 4rem;
    }

    .error-icon {
        color: var(--pico-secondary);
        margin-bottom: 1.5rem;
        
        svg {
            height: 64px;
            width: 64px;
        }
    }

    .error-actions {
        display: flex;
        gap: 1rem;
        justify-content: center;
        margin-top: 2rem;
    }
}
