#admin-view {
    .global-row {
        .primary-text {
            font-weight: 600;
            color: var(--pico-contrast);
        }
    }

    .loading-cell, .empty-cell, .error-cell {
        text-align: center;
        padding: 2rem;
        color: var(--pico-muted-color);
    }
}
