#admin-view {
    .role-row {
        &.clickable-row {
            cursor: pointer;
        }

        .primary-text {
            font-weight: 600;
            color: var(--pico-contrast);
        }
    }

}
