@use "mixins" as *;

/* =========================================
   Page: Home
   ========================================= */

.hero {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 4vh;

    flex-direction: column;

    min-height: 60vh;
    width: 100%;

    padding: 6vh;

    display: flex;

    z-index: -1;

    .slide {
        position: absolute;
        inset: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        opacity: 0;
        pointer-events: none;
        z-index: 0;

        background-image: var(--slide-img-light);

        @media (prefers-color-scheme: dark) {
            background-image: var(--slide-img-dark);
        }


        &.show {
            opacity: 1;
            z-index: 1;
        }
    }

    >*:not(.slide) {
        position: relative;
        z-index: 2;
    }

    .hero-title {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        h1 {
            padding: 0;
            margin-bottom: 0;
            font-size: 4vh;
            line-height: 1.2;
        }

        p {
            font-size: 1.5vh;
            line-height: 1.5;
        }
    }

    .hero-offer {
        margin-top: auto;

        h3 {
            font-size: 2vh;
        }

        .hero-offer-boxes {
            display: flex;
            flex-direction: row;

            .hero-offer-box {
                @include translucent-card;
                padding: 2vh;
                margin-right: 2vh;
                flex: 1;
                width: calc(33.333% - 2vh);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;

                @media (prefers-color-scheme: dark) {
                    box-shadow: 0 4px 30px rgba(100, 100, 100, 0.3);
                }

                img {
                    height: 6vh;
                    margin-bottom: 1vh;

                    @media (prefers-color-scheme: light) {
                        filter: invert(1);
                    }
                }

                h3 {
                    font-size: 2.5vh;
                    margin-bottom: .5vh;
                }

                p {
                    font-size: 1.5vh;
                    line-height: 1.5;
                    margin-bottom: 0;
                }
            }
        }

        @media (max-width: 800px) {
            .hero-offer-boxes {
                flex-direction: column;

                .hero-offer-box {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 1vh;
                }
            }
        }

        position: relative;
        bottom: -8vh;
    }
}

.about-us-para {
    columns: 2;
    gap: 5vw;

    @media (max-width: 600px) {
        columns: 1;
        flex-direction: column;
    }
}

.find-us-para {
    margin-top: 4vh;

    iframe {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 1vh;
    }
}

.find-us-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin-top: 1rem;

    img {
        width: 100%;
        max-width: 100%;
        aspect-ratio: 18 / 9;
        border-radius: var(--pico-border-radius);
        object-fit: cover;
    }
}
