@use "mixins" as *;

/* Legal View */
[id="/legal-view"] {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    #legal-container {
        width: 100%;
        margin-top: 2rem;

        h1 {
            text-align: center;
            margin-bottom: 2rem;
        }

        >article {
            @include card-highlights;
            --highlight: color-mix(in srgb, red 70%, var(--theme-opposite) 20%) !important;
            
            background: rgba(255, 255, 255, .01);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(7.7px);
            -webkit-backdrop-filter: blur(7.7px);
            border: 1px solid color-mix(in srgb, var(--pico-background-color) 90%, var(--pico-color) 10%);

            @media (prefers-color-scheme: dark) {
                background: rgba(255, 255, 255, .08);
                box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
                border: 1px solid color-mix(in srgb, var(--pico-background-color) 80%, var(--pico-color) 20%);
            }

            --highlight: color-mix(in srgb, red 70%, var(--theme-opposite) 20%);
            border-left: 4px solid var(--highlight);

            svg {
                color: var(--highlight);
            }
        }
    }
}

/* Legal Form Grid */
#grid-legal {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;

    >article {
        margin-bottom: 1rem;
        flex: 1 1 300px;

        background: rgba(255, 255, 255, .01);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7.7px);
        -webkit-backdrop-filter: blur(7.7px);
        border: 1px solid color-mix(in srgb, var(--pico-background-color) 90%, var(--pico-color) 10%);

        @media (prefers-color-scheme: dark) {
            background: rgba(255, 255, 255, .08);
            box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
            border: 1px solid color-mix(in srgb, var(--pico-background-color) 80%, var(--pico-color) 20%);
        }

        @include card-highlights;
    }
}