/* Translucent Card Mixin */
@mixin translucent-card {
    background-color: var(--translucent-bg);
    border: 1px solid var(--translucent-bg);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 1vw;
}

/* Card Highlights Mixin */
@mixin card-highlights {
    border-left: 4px solid var(--highlight);

    svg {
        color: var(--highlight);
    }

    &:nth-child(1) {
        --highlight: color-mix(in srgb, purple 70%, var(--theme-opposite) 20%);
    }

    &:nth-child(2) {
        --highlight: color-mix(in srgb, orange 70%, var(--theme-opposite) 20%);
    }

    &:nth-child(3) {
        --highlight: color-mix(in srgb, green 70%, var(--theme-opposite) 20%);
    }

    &:nth-child(4) {
        --highlight: color-mix(in srgb, #3498db 70%, var(--theme-opposite) 20%);
    }
}

/* Common Element Size Mixin */
@mixin common-element-size($bp1: 1200px, $bp2: 768px, $bp3: 480px) {
    height: 2.75rem !important;
    padding: 0 1rem;
    font-size: 1rem;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    
    @media (max-width: $bp1) {
        height: 2.5rem !important;
        padding: 0 0.8rem;
        font-size: 0.95rem !important;
    }

    @media (max-width: $bp2) {
        height: 2.25rem !important;
        padding: 0 0.75rem;
        font-size: 0.7rem !important;

        svg,
        img {
            width: 1.2rem !important;
            height: 1.2rem !important;
        }
    }

    @media (max-width: $bp3) {
        height: 1.6rem !important;
        padding: 0 0.5rem;
        font-size: 0.5rem !important;

        svg,
        img {
            width: 1rem !important;
            height: 1rem !important;
        }
    }
}

/* Scaling Element Mixin */
@mixin scaling-element($bp1: 1200px, $bp2: 768px, $bp3: 480px) {
    padding: 0.375rem 0.75rem;

    @media (max-width: $bp1) {
        padding: 0.3rem 0.6rem;
        font-size: 0.95em;
    }

    @media (max-width: $bp2) {
        padding: 0.25rem 0.5rem;
        font-size: 0.85em;

        svg,
        img {
            width: 6vw;
            height: 6vw;
        }
    }

    @media (max-width: $bp3) {
        padding: 0.2rem 0.4rem;
        font-size: 2vw;

        svg,
        img {
            width: 4vw;
            height: 4vw;
        }
    }
}

/* Scaling Table Mixin */
@mixin scaling-table($bp1: 1200px, $bp2: 768px, $bp3: 480px) {
    width: 100%;
    margin-bottom: 0;
    table-layout: auto;

    th,
    td {
        text-align: left;
        border-bottom: var(--table-border);

        @include scaling-element($bp1, $bp2, $bp3);

        @media (max-width: $bp2) {

            td>svg,
            td>img {
                width: 6vw !important;
                height: 6vw !important;
            }
        }

        @media (max-width: $bp3) {

            td>svg,
            td>img {
                width: 4vw !important;
                height: 4vw !important;
            }
        }
    }
}