/* Connectivity Overlay */
#no-connection-view {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 2000;
    background: rgba(0, 0, 0, 0.85); backdrop-filter: blur(5px);
    display: flex; justify-content: center; align-items: center; flex-direction: column;

    .container {
        text-align: center; color: white;
        svg { margin-bottom: 1rem; width: 64px; height: 64px; }
        h1 { color: white; }
        p { color: rgba(255, 255, 255, 0.8); }
    }
}