#transactions-view,
#signup-view,
#login-view,
#swims-view {
    width: 100%;
    padding: 2rem;

    h1 {
        text-align: center;
        margin-bottom: 2rem;
    }

    &>div {
        width: 100%;
    }
}