/* =========================================
   Page: Profile
   ========================================= */

#\/profile-view {
    h1 {
        margin: 2rem;
        text-align: center;
    }
}

#profile-aid-buttons {
    display: flex;
    gap: 1rem;

    @media (max-width: 400px) {
        flex-direction: column;
    }

    button {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        height: 3rem;
    }
}

.danger-zone-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    @media (max-width: 400px) {
        flex-direction: column;
    }

    button {
        margin-bottom: 0;
        flex: 1 1 auto;
    }
}
