/* =========================================
   Page: Profile
   ========================================= */

#\/profile-view {
    h1 {
        margin: 2rem;
        text-align: center;
    }
}

#profile-aid-buttons {
    display: flex;
    gap: 1rem;

    button {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        height: 3rem;
    }
}
