/* Swims View */
#leaderboard-body {
    .leaderboard-status {
        text-align: center;
    }

    .leaderboard-error {
        color: var(--del-color);
        text-align: center;
    }
}

.swims-tab-group {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}
