@use "mixins" as *;

/* Swims View */
#leaderboard-body {
    .leaderboard-status {
        text-align: center;
    }

    .leaderboard-error {
        color: var(--del-color);
        text-align: center;
    }
}

#swims-view {
    table {
        @include scaling-table;
    }
}

.swims-tab-group {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem !important;
}

