/* Utility Classes & Animations */
.small-container { margin-left: auto; margin-right: auto; padding-left: 1rem; padding-right: 1rem; }
.hidden { display: none !important; }
.primary { color: var(--pico-color); }
.nobottommargin { margin-bottom: 0 !important; }
.text-right { text-align: right; }
.justify-end { justify-content: flex-end; }
.justify-between { justify-content: space-between; }
.block { display: block; }
.flex { display: flex; }
.gap-0-5 { gap: 0.5rem; }
.gap-1 { gap: 1rem; }
.mt-1 { margin-top: 1rem; }
.mb-1 { margin-bottom: 1rem; }
.mt-0-5 { margin-top: 0.5rem; }
.font-size-0-9 { font-size: 0.9em; }
.cursor-pointer { cursor: pointer; }

.fade-out { animation: fadeOut 0.3s forwards ease-out; }
@keyframes fadeOut {
    from { margin-top: 0.5rem; margin-bottom: 0.5rem; padding-top: 1rem; padding-bottom: 1rem; opacity: 1; max-height: 150px; }
    to { margin-top: 0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; opacity: 0; max-height: 0; }
}

.fade-in { animation: fadeIn 0.3s forwards ease-out; }
@keyframes fadeIn {
    from { opacity: 0; transform: translateX(100%); }
    to { opacity: 1; transform: translateX(0); }
}
