/* Utility Classes & Animations */
.small-container { margin-left: auto; margin-right: auto; padding-left: 1rem; padding-right: 1rem; }
.hidden { display: none !important; }
.primary { color: var(--pico-color); }
.nobottommargin { margin-bottom: 0 !important; }

.fade-out { animation: fadeOut 0.3s forwards ease-out; }
@keyframes fadeOut {
    from { margin-top: 0.5rem; margin-bottom: 0.5rem; padding-top: 1rem; padding-bottom: 1rem; opacity: 1; max-height: 150px; }
    to { margin-top: 0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; opacity: 0; max-height: 0; }
}

.fade-in { animation: fadeIn 0.3s forwards ease-out; }
@keyframes fadeIn {
    from { opacity: 0; transform: translateX(100%); }
    to { opacity: 1; transform: translateX(0); }
}
