@use "pico" with ($theme-color: "purple");
@use "partials/theme";
@use "partials/mixins";
@use "partials/base";
@use "partials/utilities";
@use "partials/components";
@use "partials/home";
@use "partials/events";
@use "partials/legal";
@use "partials/profile";
@use "partials/page_layouts";
@use "partials/admin";
@use "partials/footer";
@use "partials/swims";