@use "pico" with (
    $theme-color: "purple"
);

.small-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

main.container {
    display: block;
    margin: 0;
    padding: 0;
    padding-inline: 0;
    padding-block: 0;
    width: 100%;
    max-width: none;
    min-height: 1000vh;  
}

.hero {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 90vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: -1;

    .slide {
        position: absolute;
        inset: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        opacity: 0;
        transition: opacity 900ms ease;
        will-change: opacity;
        pointer-events: none;
        z-index: 0;
        filter: brightness(0.3);

        &.show {
            opacity: 1;
            z-index: 1;
        }
    }      

    > *:not(.slide) {
        position: relative;
        z-index: 2;
    }

    > :first-child {
        max-width: 35%;
    }
}

main.container > nav.small-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: color-mix(in srgb, var(--pico-background-color) 85%, transparent);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .5);
    border-bottom: .5px solid color-mix(in srgb, var(--pico-color) 45%, transparent);
}

